.yazi{
    font-family: 'Dancing Script', cursive;
}
.baslik{
    font-family: 'Arvo', serif;
    font-size: 60px;
}
.buton{
    text-decoration-line: underline;
    text-decoration-color: #317a65;
  color: #f3f0f1;
  padding: 0 8px;
  line-height: 3.0;
  box-shadow: inset 0 -3 #317a65;
  transition: color, box-shadow, 0.3s ease-in-out;
  height: 50px;
  border-radius: 5px;
  border: violet;
  font-size: 20px;
  font-family: 'Abril Fatface', cursive;
} 
.buton:hover{
  color: #fff;
  box-shadow: inset 0 -3.0em #317a65;
}  
.scrollable-element {
    scrollbar-color: red yellow;
  }
  ::selection{
      background-color: rgb(11, 38, 87);
      color: white;
  }
  .menu{
    list-style-type: none;  
   
    margin: 0px;
    padding: 0px;
    
  }
  .menu li{
      list-style-type: none;
      float: left;
      margin-left: 30px   ;
     
     
  }
  .menu li a{
      display: block;
      padding: 0px;
      margin: 10px;
    text-decoration: none;
      color: rgb(218, 201, 201);
      opacity: 60%;
  }
  .menu li a:hover{
      opacity: 100%;
  }
  .r{
      float: left;
      width: 340px;
      border-radius: 5px;
      border-color: #25D9E6;
      color:#25D9E6 ;
      transition: transform,
                  box-shadow,
                  0.3s
                  ease-in-out
      ;




  }
  .r:hover{
      box-shadow: 0 0.5em
                  0.5em -0.4em
                  #25D9E6;
  }
 